version: "3"

services:
  aee_digital_trabalhos:
    build: .
    command: npm start
    image: aee_digital_trabalhos
    ports:
      - "3100:3100"
    volumes:
      - .:/usr/app
    depends_on:
      - "mongo"
    links:
      - mongo
    tty: true
  mongo:
    image: mongo
    volumes:
      - ./data/db:/data/db
    ports:
      - "3110:27017"
  mongo-express:
    image: mongo-express
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_MONGODB_PORT=27017
    depends_on:
      - mongo
    ports:
      - "30100:8081"
    restart: always
